<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xero Integration</title>
</head>
<body class="container bg-light bg-gradient">
    <div class="mt-4">
        <h2 class="bg-info px-4 pb-4 pt-4" style="border-radius:10px;">Xero Integration</h2>
        <ul class="d-flex justify-content-center list-inline mt-5">
            <li class="list-inline-item" ><a class="text-decoration-none bg-dark bg-gradient  text-white px-4 pb-4 pt-4 rounded-pill " href='/contacts'>Get Vendors </a></li>
            <li class="list-inline-item" > <a class="text-decoration-none bg-dark bg-gradient  text-white px-4 pb-4 pt-4 rounded-pill" href="/accounts">Get Accounts </a></li>
        </ul> 
        
    </div>
</body>
</html>