<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xero Integration</title>
</head>
<body class="container bg-light">
    <div class="mt-4">
        <h2 class="bg-info px-4 pb-4 pt-4" style="border-radius:10px;">Xero Integration</h2>
        <p class="rounded-pill position-relative top-20 end-0 bg-success px-4 pb-4 pt-4 mt-5 text-light">Your Data has been successfully saved!</h4>
    </div>
    <button class="border-0 px-4 pb-4 pt-4 rounded-pill"><a class="text-decoration-none text-black" href="/home">Go Back</a></button>
</body>
</html>